// colors
$ml-yellow: #FFE600;
$ml-black: #333333;
$ml-grey: #666666;
$ml-lightGrey: #999999;
$ml-offWhite: #EEEEEE;
$ml-blue: #3483FA;

// spacing
$content-page-max-width: calc(100vw - 20rem);
$border-radius: 4px;

