@use '../../variables' as v;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: v.$ml-yellow;

  .context {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    max-width: v.$content-page-max-width;
    margin: auto;
    width: 100%;

    img {
      //padding: 0 1rem;
    }

    input {
      line-height: 18px;
      padding: 0.5rem;
      border: none;
      border-radius: v.$border-radius 0 0 v.$border-radius;
      width: 100%;
      margin-left: 1rem;

      &:focus-visible {
        outline: none;
        //border-radius: 4px 0 0 4px;
        //box-shadow: 0 0 0 2px v.$ml-lightGrey;
      }
    }

    button {
      padding: 0.5rem 1rem;
      justify-self: start;
      border: none;
      border-radius: 0 5px 5px 0;
      background-color: v.$ml-offWhite;
      color: v.$ml-lightGrey;

      &:hover {
        background-color: v.$ml-lightGrey;
        color: v.$ml-offWhite;
      }

      &:focus-visible {
        outline: none;
      }
    }
  }
}

